﻿<div class="jumbotron">
    <h1>API Internación domiciliaria</h1>
    <p class="lead">Contiene los metodos necesarios para la administración de los pacientes.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Comenzar</h2>
        <p>Para conocer la api y sus contratos puede ir a la ayuda de la api donde se detallas los metodos expuestos.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Aplicación de prueba</h2>
        <p>Si la aplicación esta en modo prueba, puede probar con el usuario username: user@email.com Password: Password1! en vacunar/login</p>
        
    </div>
    <div class="col-md-4">
        <h2>Gracias!</h2>
        <p>Gracias por ser parte de esta aplicación.</p>
       
    </div>
</div>
