<ion-header>
  <ion-navbar>
    <ion-title>
      Vacunar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header>
        Seleccione la acción
      </ion-card-header>
      <ion-list>
        <button ion-item (click)="openPage(patientsRoot)"  >
          <ion-icon name="medical" item-start></ion-icon>
          Pacientes
        </button>
      </ion-list>
    </ion-card>
</ion-content>
